.Tilt {
    
    position:fixed; 
	top:10px; 
	left:40px; 
    

    
  }
 
  .brain{
      width: 300px;
  }

  .ma4{
      padding-bottom: 3rem;
      padding-top: 3rem;
  }




  @media screen and (max-width: 900px) {
    .brain{
        width: 150px;
    }
    .Tilt {
    
        position:fixed; 
        top:5px; 
        left:10px;   
      }
     
    
  }
